:root {
  --color-primary: #323232;
  --color-primary-light: #f4e5c2;
  --color-secondary: #295f4e;
  --color-secondary-light: #6db193;
}

html {
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: var(--color-primary-light);
  width: 400px;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 3rem -0.5rem rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background: var(--color-primary-light);
  color: var(--color-primary);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 1rem 1rem 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 2.5rem;
  font-size: 3rem;
  font-family: monospace, sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

button {
  min-height: 5rem;
  font-size: 2rem;
  font-weight: 100;
  font-family: monospace, sans-serif;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--color-secondary);
}

button:hover {
  filter: brightness(120%);
}

button:active {
  transform: translateY(0.3rem) !important;
}

button:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.operator {
  background-color: var(--color-secondary-light);
  color: #fff;
  font-size: 2.5rem;
}

.clear {
  background: var(--color-secondary);
  color: black;
}

.clear:hover {
  filter: brightness(80%);
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background-color: var(--color-secondary-light);
}

/* Media query */

@media screen and (max-width: 60rem) {
  .calculator {
    width: 90%;
  }
}
